@main() {

	<h1>Temperature</h1>
	<div id="messages"></div>
	<div class="links">
		<a class="previous24h" href="#previous24h">Previous 24h</a> | 
		<a class="yesterday" href="#yesterday">Yesterday</a> | 
		<a class="rollingWeek" href="#rollingWeek">Rolling week</a> |
		<a class="rolling30days" href="#rolling30days">Rolling 30 days</a>
	</div>
	<div class="content">
		<canvas id="chart1" width="500" height="200"></canvas>
	</div>
	
	<div class="content">
		<canvas id="chart2" width="500" height="200"></canvas>
	</div>
}
